frontend/node_modules/
frontend/src/
frontend/public/
frontend/index.html
frontend/dist/
crm_override/public/frontend/*
!crm_override/public/frontend/.gitkeep
crm_override/www/crm.html
**/__pycache__/
*.pyc
.DS_Store
